.banner{
    background-color:orchid;
    width:100%;
    height:150px;
    margin-bottom:50px;
}

.banner-text{
    top:40px;
    left:650px;
    position:absolute;
    transform:transform;
    text-align:center;
}